@font-face {
    font-family: 'InspectorGeneralExpandItal';
    src: url('../assets/fonts/InspectorGeneralExpandItal-JRpyn.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GenSenRounded';
    src: url('../assets/fonts/GenSenRounded-M.ttc');
}

html,body {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    background-color: #FF55B1;
    overflow: hidden;
    font-family: 'InspectorGeneralExpandItal' , sans-serif;
    color: white;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    height: -webkit-fill-available;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
:visited{
    color: white;
}
.wrapper {
    width: 100%;
    height: 100%;
    border: 5px white solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-title {
    font-size: 108px;
}
.index-subtitle {
    font-size: 80px;
}
.start-button{
    position: relative;
    display: block;
    font-size: 65px;
    padding: 5px 90px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #5E17EB;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 100px;
}

.start-button:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

/* 說明手冊 */
.tutorial-wrapper{
    display: flex;
    width: 80%;
    align-items: flex-start;
    position: relative;
}
.tutorial-col-2 {
    font-family: 'GenSenRounded';
	box-sizing: border-box;
    align-items:  center;
    margin: auto;
    font-size: 38px;
    text-align:center;
}
.tutorial-title{
    font-family: 'GenSenRounded';
	box-sizing: border-box;
    align-items:  center;
    margin: auto;
    font-size: 38px;
    text-align:center;
    color:#673FD6;
    width:-webkit-fill-available;
    font-weight: bold;
    padding-top: 30px;
}
.tutorial-title2{
    font-family: 'GenSenRounded';
	box-sizing: border-box;
    font-size: 60px;
    text-align:center;
    margin-top: 10px;
    color:#d90428;
    width:100%;
    font-weight: bold;
    padding-top: 30px;

}

.tutorial2-wrapper{
    display: flex;
    background-color: white;
    width: 95%;
    height: 100%;
    align-items: flex-start;
    position: relative;
    border: #673FD6 5px solid;
    border-radius: 50px;
}
.tutorial2-wrappe-1{
    display: flex;
    width: 50%;
    align-items: flex-start;
    /* background-color: gray; */
    padding-top:40px;
    flex-wrap: wrap;

}
.tutorial7-wrappe-1{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left:3%
}
.tutorial7-wrappe-1>img{
    position:relative;
}

.tutorial-col-3{
	height: 10%;
	width: 100%;
	box-sizing: border-box;
	padding-left:70%;
    padding-right:15%
}

.tutorial-button{
    position: relative;
    /* display: block; */
    font-size: 45px;
    padding: 3% 20% 7%;
    justify-content: center;
    align-items:  center;
    margin-top: 18px;
    background-color: #5E17EB;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 100px;
}

.tutorial-button:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

/*fish*/
.fish-point {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.fish-day {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.p5Canvas {
    position: absolute;
    z-index: -1;
}

/*開啟按鈕-彈出視窗1*/
.start-fish-button{
    position: relative;
    display: block;
    font-size: 60px;
    padding: 15px 50px;
    margin-top: 20%;
    margin-bottom: 30px;
    background-color: #f8bc18;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 100px;
    cursor: pointer;
}

.start-fish-button:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

#start-fish-button{
    visibility: visible;
}

#start-fish-button.close{
    visibility: hidden;
}




/*彈出視窗1-選魚餌*/
#popup-chooseBait{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    background: rgb(103,63,214,0.8);
    border: 5px rgb(255, 255, 255) solid;
    width: 450px;
    padding: 80px 50px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.8);
    transition: 0.5s;
    border-radius: 50px;
    visibility: hidden;
}

#popup-chooseBait.active{
    visibility: visible;
    top: 50%;
}


/*彈出視窗1-標題*/
#popup-chooseBait .popup-title1{
    padding-bottom: 20px;
}

/*彈出視窗1-圖案欄位*/
#popup-chooseBait .content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*彈出視窗1-圖案調整大小位置*/
#popup-chooseBait .content .baitrow img{
    cursor: pointer;
    max-width: 80px;
}

#popup-chooseBait .content img.love{
    padding-right: 50px;
}

#popup-chooseBait .content img.money{
    padding-right: 50px;
}


#popup-chooseBait .content .bait-text img{
    padding-top: 10px;
    max-width: 80px;
}


#popup-chooseBait .content .bait-text img.love-text{
    padding-right: 50px;
}

#popup-chooseBait .content .bait-text img.money-text{
    padding-right: 50px;
}


/*彈出視窗1-陪伴按鈕（愛心）*/

#popup-chooseBait .content img.love:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

/*彈出視窗1-錢按鈕（圓形）*/

#popup-chooseBait .content img.money:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

/*彈出視窗1-性愛按鈕（方形）*/
#popup-chooseBait .content img.sex:hover{
    transform: scale(1.15);
    transition: all 0.3s;
 	overflow: hidden;
}

/*魚圖片*/
#fish{
    position: relative;
    visibility: hidden;
}

#fish.active{
    visibility: visible
}

#fish img{
    max-width: 90px;
}

/*魚圖片點擊彈窗*/
#fish .fish1-button{
    cursor: pointer;
}

#popup-fishInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    background: rgb(103,63,214,0.8);
    border: 5px rgb(255, 255, 255) solid;
    width: 450px;
    padding: 80px 50px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.8);
    transition: 0.5s;
    border-radius: 50px;
    visibility: hidden;
}

#popup-fishInfo.active{
    visibility: visible;
    top: 50%;
}

#popup-fishInfo .content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

#popup-fishInfo .fishInfo-row2{
    padding-left: 70px;
    padding-bottom: 20px;
}

#popup-fishInfo .fishInfo-row3{
    padding-top: 30px;
    padding-left: 50px;

}


#fish .fishInfo-picture{
    max-width: 150px;
}


#popup-fishInfo .button-choose{
    position: relative;
    display:inline-flex;
    font-size: 20px;
    padding: 15px 70px;
    margin-bottom: 10px;
    background-color: #D965EC;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
    color:white;
    cursor: pointer;
}

#popup-fishInfo .button-choose:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 	overflow: hidden;
}

#popup-fishInfo .button-notChoose{
    position: relative;
    display:inline-flex;
    font-size: 20px;
    padding: 15px 60px;
    margin-bottom: 10px;
    background-color: #FF40B4;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
    color:white;
    cursor: pointer;
}

#popup-fishInfo .button-notChoose:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 	overflow: hidden;
}

/*聊天視窗*/
#chat .chat-button{
    cursor: pointer;
}

.popup-chat{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    background: rgb(103,63,214);
    border: 5px rgb(255, 255, 255) solid;
    width: 550px;
    padding: 80px 50px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.8);
    transition: 0.5s;
    border-radius: 50px;
    visibility: hidden;
}

.popup-chat.active{
    visibility: visible;
    top: 50%;
}

.popup-chat.close{
    visibility: hidden;
}

.popup-chat .content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}


.popup-chat .chat-row1{

    padding-bottom: 70px;
}
.popup-chat .chat-row2{
    padding-left: 20px;
    padding-bottom: 70px;
}

.popup-chat .chat-row2 .chatBar{
    position: relative;
    display:inline-flex;
    font-size: 15px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
}

.popup-chat .chat-row3{
    padding-left: 50px;
}

.popup-chat .chat-row3 .chooseAns{
padding-top: 15%;
}

.popup-chat .chat-row4{
    padding-left: 60px;
}


.popup-chat .chat-picture{
    max-width: 100px;
}


.popup-chat .button-choose1{
    position: relative;
    display:block;
    font-size: 8px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #FF40B4;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}

.popup-chat .button-choose1:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 	overflow: hidden;
}

.popup-chat .button-choose2{
    position: relative;
    display:block;
    font-size: 8px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #FF40B4;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}

.popup-chat .button-choose2:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 	overflow: hidden;
}

.popup-chat .button-choose3{
    position: relative;
    display:block;
    font-size: 8px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #FF40B4;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}

.popup-chat .button-choose3:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 	overflow: hidden;
}

/*結算按鈕*/
.end-button{
    position: relative;
    display: block;
    font-size: 65px;
    padding: 15px 90px;
    margin-bottom: 10px;
    background-color: #f8bc18;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 100px;
    visibility: hidden;
}

.end-button.active{
    visibility: visible;
}
